<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stephenk.majorready">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Level2Q4Activity"
            android:label="title_activity_level2_q4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Level2Q3Activity"
            android:label="title_activity_level2_q3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Level2Q2Activity"
            android:label="@string/title_activity_level2_q2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Level2Q1Activity"
            android:label="@string/title_activity_level2_q1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Level1Q1Activity"
            android:label="@string/title_activity_level1_q1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Level1Q2Activitiy"
            android:label="title_activity_level1_q2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Level1Q3Activity"
            android:label="title_activity_level1_q3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Level1Q4Activity"
            android:label="title_activity_level1_q4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Level1Q5Activity"
            android:label="title_activity_level1_q5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Level1Q6Activity"
            android:label="title_activity_level1_q5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Level1ResultsActivity"
            android:label="@string/title_activity_level1_results"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Level2ResultsActivity"
            android:label="@string/title_activity_level2_results"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
